<div class="row login d-flex justify-content-center">
    <div class="col-md-6 text-center d-flex justify-content-center align-items-center">
        <div class="card-login">
            <img class="img-login" src="https://cdn170.picsart.com/upscale-241633703022212.png?type=webp&to=min&r=640" width="80" height="80">
            <p class="title">Ingresa con tu cuenta favorita de Google al chat personalizado TOP (it´s a test)</p>
            <button class="btn btn-login" (click)="login()" id="btn-login">Google</button>
        </div>
    </div>
</div>