.main-container {
    margin-top: 40px;
    margin-bottom: 150px;
}

.puntero {
    cursor: pointer;
}

.chat-window {
    padding: 10px;
    width: 300px;
    height: 394px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
    background-color: white;
}

.app-mensajes {
    overflow-y: scroll;
    height: 270px;
    /*background:gray;*/
    padding: 5px;
    background-image: url('https://images.unsplash.com/photo-1564470939458-1289338e2d85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #5a5656;
    background-blend-mode: soft-light;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.img-login {
    border: 2px solid #5546f3;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
    border-radius: 99px;
    padding: 5px;
}

.btn-salir {
    border: none !important;
    margin-top: 10px;
    color: white !important;
}

html,
body {
    height: 100%;
}

body {
    // background: #0f0c29;
    // /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    // /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    // /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #56CCF2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login {
    height: 100%;
    background-color: #4c4c52;
}

.my-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 20% auto; */
    height: 100%;
}